.container{
  text-align: center;
  padding-top: 10%;
}

label{
  display: block;
  width: 100%;
}

label > input {
  margin-left: 5px;
}

table > thead > tr > th, table > tbody > tr > td {
  border: 1px solid lightgray;
  padding: 5px;
}

